/*
Document : style
Created on : 16/04/2014, 15:35:44
Author : Laerte Filho
Description:
Purpose of the stylesheet follows.
*/

body {
    background-color: #0f0f0f;
}
h1 {
    color: #96f226;
    font-size: 30px;
    font-family:'Special Elite', 'Arial';
    text-align: center;
}
textarea {
    margin: auto;
    display: block;
    font-size: 12px;
    color: #96f226;
    background-color:#2a2a2a;
}
textarea:focus {
    outline: none !important;
    border:1px solid #96f226;
    box-shadow: 0 0 30px #4a4a4a;
}
.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0;
    font-size: 10px;
}
.ui-menu .ui-menu-item a {
    color: #c0c0c0;
    border-radius: 2px;
    border-color: #96f226;
    background: none;
}
.ui-menu .ui-menu-item {
    font-size: 10px;
}
.ui-menu {
    background: none;
}
.ui-autocomplete, .ui-autocomplete .ui-menu-item {
    background: none;
}